.container {
box-sizing: border-box;
max-width: 1200px;
padding-left: 20px;
padding-right: 20px;
margin-left: auto;
margin-right: auto;
}
.container-sp {
box-sizing: border-box;
max-width: 1110px;
margin-left: auto;
margin-right: auto;
}