body.ativo-1{
background-color: #1B1F24;
}
body.ativo-1 .cabecalho-bg {
background-color: #22272F;
}
body.ativo-1 .cabecalho {
background-color: #1B1F24;
}
// Head
body.ativo-1 .contato li {
color: $cor-1;
}
body.ativo-1 .contato li:last-child {
color: $cor-p1;
}
body.ativo-1 .contato h1 {
color: $cor-1;
}
// Sobre
body.ativo-1 .sobre p {
color: $cor-1;
}
// Main
body.ativo-1 .colunas ul li {
color: $cor-1;
}
body.ativo-1 .historico-profissional h3 {
color: $cor-1;
}
body.ativo-1 .historico-profissional h4 {
color: $cor-1;
}
body.ativo-1 .historico-profissional p {
color: $cor-1;
}
body.ativo-1 .historico-profissional h3:after {
background: $cor-1;
}
body.ativo-1 .formacao h3 {
color: $cor-1;
}
body.ativo-1 .formacao h4 {
color: $cor-1;
}
body.ativo-1 .formacao p {
color: $cor-1;
}
body.ativo-1 .redes {
color: $cor-1;
}
body.ativo-1 .footer-final {
background-color: #22272F;
}