.rodape {
border-radius: 10px;
box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
border: 1px solid $cor-p1;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
padding: 15px 35px;
margin: 30px 0px 83px 0px;
border: 2px solid transparent;
position: relative;
box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 7px;
box-sizing: border-box;
max-width: 1070px;
margin-left: auto;
margin-right: auto;
@include d(s) {
display: block;
max-width: 100%;
margin: 30px 20px 83px 20px;
padding: 0px;
}
}
.redes {
display: flex;
flex-wrap: wrap;
gap: 10px;
justify-content: space-between;
align-items: center;
color: $cor-11;
@include d(s) {
justify-content: left;
padding: 10px;
margin: 0 auto;
width: auto;
}
}
.redes img{
width: 30px;
height: 30px;
}

.footer-final {
display: block;
text-align: center;
padding: 20px;
background: $cor-p3;
border-top: 1px solid $cor-8;
color: $cor-1;
}
.rodape::before {
content: '';
position: absolute;
width: 0;
height: 0;
top: -2px;
left: -2px;
border: 2px solid transparent;
box-sizing: content-box;
z-index: -1;
}
.rodape::before {
animation: animacao 2.7s linear forwards;
animation-delay: 3s;
}
.rodape::after {
content: '';
position: absolute;
width: 0;
height: 0;
top: -2px;
left: -2px;
border: 2px solid transparent;
box-sizing: content-box;
z-index: -1;
}
.rodape::after {
animation: animacao2 2.7s linear forwards;
animation-delay: 3s;
}
