.cabecalho-bg {
background: $cor-p3;
padding: 50px 50px 0px 50px;
@include d(t) {
padding: 20px 20px 0px 20px;
}
}
.cabecalho {
background: $cor-0;
display: flex;
flex-wrap: nowrap;
gap: 30px;
justify-content: center;
align-items: center;
padding: 65px 20px 65px 20px;
}
.cabecalho picture img{
width: 230px;
height: 230px;
border-radius: 10px;
box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
}
.contato {
display: flex;
flex-wrap: nowrap;
justify-content: space-between;
align-items: center;
width: 810px;
border-radius: 10px;
// box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
// border: 1px solid $cor-p1;
box-sizing: border-box;
}
.contato p {
padding-top: 15px;
color: $cor-p1;
}
.contato li {
padding-top: 39px;
line-height: 1;
color: $cor-11;
}
.contato li:last-child {
color: $cor-p1;
}
.contato li + li {
padding-top: 15px;
}
.contato li a span {
position: relative;
}
.contato li a span:after {
content: "";
bottom: 0px;
right: 0px;
width: 100%;
height: 2px;
background: $cor-p1;
display: block;
margin-top: 0px;
transition: 0.3s;
position: absolute;
}
.dados {
padding: 30px;
}
.contato .dados h1 {
font-weight: 500;
color: $cor-11;
}