.colunas {
display: flex;
justify-content: center;
align-items: center;
gap: 30px;
box-sizing: border-box;
max-width: 1070px;
margin-left: auto;
margin-right: auto;
@include d(t) {
margin: 20px;
}
@include d(m) {
max-width: 100%;
display: block;
}
}
.colunas section{
border: 2px solid transparent;
position: relative;
box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 7px;
}
.colunas section::before{
content: '';
position: absolute;
width: 0;
height: 0;
top: -2px;
left: -2px;
border: 2px solid transparent;
box-sizing: content-box;
z-index: -1;
}
.colunas section::before{
animation: animacao 2.7s linear forwards;
animation-delay: 3s;
}
@keyframes animacao{
0%{
width: 0;
height: 0;
border-top-color: #1C92FF;
border-right-color: transparent;
border-bottom-color: transparent;
border-left-color: transparent;
}
50%{
width: 100%;
height: 0;
border-top-color: #1C92FF;
border-right-color: #1C92FF;
border-bottom-color: transparent;
border-left-color: transparent;
}
100%{
width: 100%;
height: 100%;
border-top-color: #1C92FF;
border-right-color: #1C92FF;
border-bottom-color: transparent;
border-left-color: transparent;
}
}

.colunas section::after{
content: '';
position: absolute;
width: 0;
height: 0;
top: -2px;
left: -2px;
border: 2px solid transparent;
box-sizing: content-box;
z-index: -1;
}
.colunas section::after{
animation: animacao2 2.7s linear forwards;
animation-delay: 3s;

}
@keyframes animacao2{
0%{
width: 0;
height: 0;
border-top-color: transparent;
border-right-color: transparent;
border-bottom-color: transparent;
border-left-color: #1C92FF;
}
50%{
width: 0;
height: 100%;
border-top-color: transparent;
border-right-color: transparent;
border-bottom-color: #1C92FF;
border-left-color: #1C92FF;
}
100%{
width: 100%;
height: 100%;
border-top-color: transparent;
border-right-color: transparent;
border-bottom-color: #1C92FF;
border-left-color: #1C92FF;
}
}
.left-columns {
max-width: 400px;
border-radius: 10px;
box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
border: 1px solid $cor-p1;
box-sizing: border-box;
margin-top: 30px;
margin-left: auto;
margin-right: auto;
@include d(m) {
max-width: 100%;
}
}
.columns-container-left {
place-self: flex-start;
}
.colunas .left-columns + .left-columns { 
margin-top: 30px;
}
.lista li {
color: $cor-11;
}
.lista li + li {
padding-top: 12px;
}
.left-columns ul {
width: auto;
padding: 36px 100px 59px 99px;
position: relative;
line-height: 1;
color: $cor-11;
@include d(m) {
padding: 20px;
text-align: center;
}
} 
.left-columns h2 {
text-transform: uppercase;
color: $cor-p2;
padding: 50px 0px 0 76px;
font-weight: 900;
@include d(m) {
padding: 40px 0 0 0;
text-align: center;
}
}
.left-columns ul:after {
content: "";
left: 73px;
top: 20px;
width: 8px;
height: 270px;
background: $cor-p1;
display: block;
margin-top: 0px;
transition: 0.3s;
position: absolute;
border-radius: 10px;
@include d(t) {
display: none;
}
}
.lista-unica li:nth-child(even) {
padding-top: 12px;
padding-bottom: 22px;
}

// Historico Profissional
.right-columns {
max-width: 640px;
border-radius: 10px;
box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
border: 1px solid $cor-p1;
box-sizing: border-box;
margin-top: 30px;
margin-left: auto;
margin-right: auto;
@include d(m) {
max-width: 100%;
}
}
.right-columns .lista {
padding: 35px 72px 0 99px;
@include d(m) {
  padding: 20px;

  }
}
.right-columns .lista-2 {
padding: 44px 72px 43px 99px;
@include d(m) {
  padding: 20px;
  }
}
.colunas .right-columns + .right-columns { 
margin-top: 30px;
}
.right-columns h2 {
text-transform: uppercase;
color: $cor-p2;
padding: 50px 0px 0 76px;
font-weight: 900;
@include d(m) {
  padding: 20px 0 0 0;
  text-align: center;
  }
}
.right-columns .lista {
position: relative;
}
.right-columns .lista:after {
content: "";
left: 75px;
top: 20px;
width: 8px;
height: 719px;
background: $cor-p1;
display: block;
margin-top: 0px;
transition: 0.3s;
position: absolute;
border-radius: 10px;
@include d(t) {
display: none;
}
}
.right-columns .historico-profissional h3 {
position: relative;
width: 100%;
display: inline;
color: $cor-11;
}
.right-columns .historico-profissional h3:after {
content: "";
bottom: 0px;
right: 0px;
width: 100%;
height: 2px;
background: $cor-11;
display: block;
margin-top: 0px;
transition: 0.3s;
position: absolute;
}
.right-columns h4 {
padding-top: 17px;
color: $cor-11;
}
.right-columns p {
padding-top: 10px;
max-width: 469px;
color: $cor-11;
@include d(m) {
max-width: 100%;
}
}
.right-columns .historico-profissional .lista p a:last-child {
position: relative;
max-width: 100%;
display: inline;
color: $cor-p2;
}
.right-columns .historico-profissional .lista p a:after {
content: "";
bottom: 0px;
right: 0px;
width: 100%;
height: 2px;
background: $cor-p2;
display: block;
margin-top: 0px;
transition: 0.3s;
position: absolute;
}

// Historico Acadêmico
.columns-container-right {
place-self: flex-start;
}
.right-columns .formacao-container{
padding: 46px 72px 75px 99px;
}
.right-columns .formacao h3 {
position: relative;
color: $cor-11;
font-weight: 400;
}
.right-columns .formacao .lista-pos h3 {
padding-top: 58px;
font-weight: 400;
}
.right-columns .formacao h4 {
padding-top: 10px;
}
.right-columns .formacao p {
padding-top: 10px;
width: 469px;
}
.right-columns .lista-formacao {
position: relative;
}
.right-columns .lista-formacao:after {
content: "";
left: -24px;
top: -10px;
width: 8px;
height: 256px;
background: $cor-p1;
display: block;
margin-top: 0px;
transition: 0.3s;
position: absolute;
border-radius: 10px;
@include d(t) {
display: none;
}
}